.blog-list{
    margin:10px 0 0 150px;
}
.bloglist-block{
  /* transition: box-shadow .3s ease-in-out,-webkit-box-shadow .3s ease-in-out;*/
    background: #fff;
   /* -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.1);
    box-shadow: 0 0 0 0 rgba(0,0,0,.1);
    margin: 0px 0 26px 0;*/
    padding: 15px 22px 15px 30px;

    border-top:1.3px solid darkgrey;
}
.bloglist-block:hover{
   /* transition: box-shadow .3s ease-in-out,-webkit-box-shadow .3s ease-in-out;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);*/
}
.el-tabs__item is-left{
    padding: 0 12px;
}
.el-tabs__item{
    line-height: 30px !important;
    padding: 10px 15px !important;
}
#blog_main {
    min-height: 1000px;
}

.fixed-editButton{
    position:fixed;
    right:20px;
    top:120px;
    cursor:pointer;
}
textarea{
    height:100%;
}
.bloglist-title a:hover{
    color: #000;
    transition: color 1s ease-in-out;
}
.bloglist-title a
{
    text-decoration:none;
    out-line: nonecolor;
    transition: color 1s ease-in-out;
    color:#007cff;
    font-size:26px;
    margin:15px 0px;
    width: fit-content;
    cursor:pointer;
}

.bloglist-tags .el-tag{
    margin:0 9px;
    cursor:pointer;
}
.icon-avatar{
    width: 35px;
    height: 35px;
    position: relative;
    left: 72px;
    top: 11px;
}
.right-bar .el-tag{
    margin:5px;
    cursor:pointer;
}
.bloglist-tags{
    /*float:right;*/
    color:#9EABB3;
    line-height: 40px;
    position: relative;
    bottom:3px;
    margin-left: 20px;
}


.bloglist-content{
    text-decoration:none;
    color:#333;
    line-height: 30px;
    margin:10px;
    font-size:16px;
    margin-left: 200px;
    min-height: 150px;
   /* border-bottom: #ebeef5 1.3px solid;*/
}
.bloglist-content a{
     text-decoration: none;
     color: #000;
 }
.bloglist-cover img{
    width: 192px;
    height: 160px;
    position: absolute;
    margin-top: 10px;
}
.bloglist-cover{
    position: relative;
    bottom: 10px;
}
.bloglist-cover-loading{
    text-align: center;
}
.bloglist-date{
    color:#9EABB3;
    margin-left:10px;
}
.bloglist-author{
    color: #8d9191;
    margin-left: 80px;
    font-size: 16px;
}
#blog_main .bloglist-todo{
    font-size:24px;
    color:#8a2be2;
    margin-left:50px;
    position: relative;
    bottom: 3px;
}
#blog_main .bloglist-original{
    font-size: 24px;
    color:#008000;
    margin-left:50px;
    position: relative;
    bottom: 3px;
}
.blog-content{
    margin:30px 0 0 30px;
}
.blog-title{
    text-align:center;
    line-height:70px;
}

.blog-time{
    color: #9EABB3;
    margin-right:40px;
}
.blog-author{
    color: #388cff;
    margin-right: 40px;
    font-weight: 700;
}
.blog-tags{
    margin:0 9px;
}
.blog-license{
    text-align: center;
    margin-top:20px;
}
.blog-right{
    margin: 0 180px 0 300px;
    /*max-width:60%;*/
    font-size:17px;
}

.el-tabs--left .el-tabs__header.is-left{
    position:fixed;
    z-index:200;
}

.blog-input{
    position:fixed;
    left:0;
    top:90px;
}
.edui-default .edui-editor {
    margin-left: 31%;
    margin-top: 50px;
}
#editor_input{
    margin:30px 0 0 20px;
}

.page-block{
    bottom: 0;
    width: 100%;
    text-align: center;
}


p{
    line-height:33px;
}
.right-bar{
    margin-left:40px;
}

.fish-container{
    width:100%;
    position:fixed;
    height:100%;
    z-index:-1;
}
#fishbitmap {
    display: none;
}
.taglist-block{
    margin:10px 5px 10px 5px;
    text-align: center;
}
.taglist-title{
    text-align: center;
    font-size: 18px;
    line-height:22px;
    font-family:Microsoft JhengHei;
    font-weight:bold;
}
.el-tabs--left .el-tabs__item.is-left{
    text-align: left !important;
}
#blog_main .el-tabs__nav-scroll{
    overflow-y:auto;
}
#blog_main .el-tabs__nav-wrap{
    padding:0;

}
#blog_main .el-tabs__nav-prev{
    display:none;
}
#blog_main .el-tabs__nav-next{
    display:none;
}

/*定义表格边框*/

.blog-right table
{
    border-collapse:collapse;
}

.blog-right table,.blog-right th,.blog-right td
{
    border: 1px solid black;
    padding: 10px;
}

