<!DOCTYPE html>
<html lang="zh_CN"  s>
<head>
    <meta charset="UTF-8">
    <title>编辑博客——鱼鱼的博客</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>
    <link type="text/css" rel="stylesheet" href="/css/blog.css"/>
    <link type="text/css" rel="stylesheet" href="/css/editor.css"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.6/lib/theme-chalk/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.2/vue.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/baidu.js"></script>
    <script src="/font/iconfont.js"></script>
    <script src="https://unpkg.com/element-ui@2.4.6/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<style>
    .logo{
        position:fixed;
    }
    #nav{
        margin-left:50%;
    }
    .el-upload-dragger{
        width:180px;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
</style>
</head>
<body>
    <div id="header" >
        <top-component :user="user" ></top-component>
    </div>
    <div id="editorc">
        <div class="blog-input" id="editor_input">
        <el-input size="middle" maxlength="130" id="input-title" v-model="input" placeholder="请输入内容">
            <template @keyup.enter="uploadBlog" slot="prepend">标题</template>
        </el-input><br><br>
        标签: <span>(支持手动输入标签)</span>
        <el-select style="width:350px" size="middle"
                   id="input-select" filterable allow-create v-model="stag" multiple placeholder="请选择">
            <el-option-group
                    v-for="tag in tags"
                    :key="tag.label"
                    :label="tag.label">
                <el-option popper-append-to-body="false"
                        v-for="item in tag.options"
                        :key="item.value"
                        :label="item.value"
                        :value="item.value">
                </el-option>
            </el-option-group>
        </el-select><br>
           <br>
            <span style="top: 8px;position: relative;">开启词典<el-switch v-model="useDictionary" active-value=1 inactive-value=0></el-switch>
            <span>原创<el-switch v-model="isOriginal" active-value=1 inactive-value=0>
            </el-switch></span>
            <br><br>
            后台会自动对h2和h3级别段落添加锚点处理，请好好利用！<br>
            （请务必保证段落标题各自的唯一性）<br>
            你可以在全篇使用 //TODO 标识一个未完成的段落。
                <el-button @click="dialogVisible = true" type="danger">删除这篇博客</el-button>
                <el-button @click="uploadBlog">上传博客</el-button>
           <br>
            上传封面<el-upload
                    drag="true"
                    class="avatar-uploader"
                    action="/api/blog/uploadBlogCover"
                    :show-file-list="false"
                    :on-success="handleAvatarSuccess"
                    :before-upload="beforeAvatarUpload">
                <img v-if="imageUrl" :src="imageUrl" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>



        </div>
        <el-dialog
                title="注意！"
                :visible.sync="dialogVisible"
                width="30%"
                :before-close="handleClose">
            <span>确认删除操作？(误删的博客7日内可恢复)</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="deleteBlog">确 定</el-button>
                </span>
        </el-dialog>
         <script id="editor" type="text/plain"></script>


    </div>
<script>
        let bid=0;
        var ue = UE.getEditor('editor');

        let head = new Vue({
            el: '#header',
            data: {
                user:{}
            },
            methods:{
                getUser(){
                    this.$http.get('/api/who').then(function (res) {
                        this.user=JSON.parse(res.bodyText)
                    }, function () {
                        console.log('获取回话失败')
                    });
                }
            },
            mounted(){
                this.getUser()
            }
        })

        let editor =new Vue({
            el: '#editorc',
            data: {
                dialogVisible:false,
                isUpdate:false,
                stag: [],
                input: "",
                useDictionary:"1",
                isOriginal:"",
                imageUrl: '',
                cover:'',
                tags: [{
                    label: '编程语言',
                    options: []
                    },
                    {
                        label: '分类',
                        options: []
                    },
                    {
                        label: '技术概念',
                        options: []
                    },
                    {
                        label: '框架',
                        options: []
                    },
                ]

            },
            methods: {
                handleAvatarSuccess(res, file) {
                    this.imageUrl = URL.createObjectURL(file.raw);
                    this.cover = res.url
                },
                beforeAvatarUpload(file) {
                    const isLt2M = file.size / 1024 / 1024 < 0.5;

                    if (!isLt2M) {
                        this.$message.error('上传头像图片大小不能超过 500k!');
                    }
                    return isLt2M;
                },
                deleteBlog: function () {
                    this.$http.delete('/api/blog/'+bid).then(function (res) {
                        if(res.bodyText==="success"){
                            window.location.href="/blog"
                        }else{
                            this.$message.error(res.bodyText);
                        }
                    }, function () {
                        console.log('请求失败');
                    });
                },
                getContent: function () {
                    return UE.getEditor('editor').getContent();
                },
                uploadBlog: function () {
                    this.$http.post('/api/blog', {
                        title: this.input,
                        content: this.getContent(),
                        tags: this.stag,
                        isUpdate: this.isUpdate,
                        id: bid,
                        useDictionary:this.useDictionary,
                        isOriginal:this.isOriginal,
                        cover: this.cover
                    }).then(function (res) {
                        if(res.bodyText==="success"){
                            window.location.href="/blog"
                        }else{
                            this.$message.error(res.bodyText);
                        }
                    }, function () {
                        console.log('请求失败');
                    });
                },
                onLoad() {
                    this.$http.get('/api/blog/tag').then(function (res) {
                        let ts = JSON.parse(res.bodyText);
                        for (let i = 0; i < 4; i++) {
                            for (let index = 0; index < ts[i].length; index++) {
                                var tempTag = {value: ts[i][index]};
                                this.tags[i].options.push(tempTag);
                            }
                        }
                    }, function () {
                        console.log('请求失败');
                    });
                    setInterval(this.autoSave, 30000)
                    let url = window.location.search;
                    if (url.indexOf("=") != -1) {
                        bid = url.substring(url.indexOf("=") + 1);
                        this.$http.get('/api/blog/detail?bid='+bid).then(function (res) {
                            let blog = JSON.parse(res.bodyText);
                            this.input=blog.title;
                            this.stag=blog.tags;
                            this.imageUrl=blog.cover
                            this.cover=blog.cover
                            this.title=blog.title
                            this.isOriginal=blog.isOriginal
                            if(this.isOriginal==1){

                            }
                            setTimeout(
                                function(){UE.getEditor('editor').setContent(blog.content, false)},
                            1000)

                            this.isUpdate=true;
                        }, function () {
                            console.log('请求失败');
                        });
                    }
                },
                autoSave(){
                    this.$http.post('/api/blog/blogBak', {
                        content: this.getContent(),
                        id: bid,
                    }).then(function (res) {
                        if(res.bodyText=="success"){
                            this.$message.success({
                                duration:1000,
                                message:"自动保存成功",
                                showClose:true});
                        }else{
                            this.$message.error({
                                duration:1000,
                                message:res.bodyText,
                                showClose:true});
                        }
                    }, function () {
                        console.log('请求失败');
                    });
                },
                handleClose(done) {
                        this.$confirm('关闭？')
                            .then(_ => {
                                //TODO
                                this.dialogVisible = false;
                            })
                            .catch(_ => {});
                    }
            }, mounted() {
                this.onLoad();
            }
        })
</script>
</body>
</html>