<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" th:attr="content=${describe}" />
    <title th:text="${blog.title}+'-鱼鱼的博客'"></title>
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>
    <link type="text/css" rel="stylesheet" href="/css/blog.css"/>
    <link type="text/css" rel="stylesheet" href="/font/iconfont.css"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.6/lib/theme-chalk/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.2/vue.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/tool/setDictionary.js"></script>
    <script src="/font/iconfontAdapter.js"></script>
    <script src="/js/baidu.js"></script>
    <script src="/js/util.js"></script>
    <script src="/font/iconfont.js"></script>
    <script src="https://unpkg.com/element-ui@2.4.6/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <link type="text/css" rel="stylesheet" href="/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css">

    <script src="/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>

    <style>
        *{
            word-break: normal;
        }
        .el-breadcrumb {
            margin: 30px 0 0 33px;
        }
        .off{
            height: 0;
        }
        .on{
            height: 100%;
        }
    </style>
</head>

<div id="header" class="header">

    <div id="component">
        <top-component :user="user" ></top-component>
    </div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item><a class="nav_link" href="/">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item><a class="nav_link" href="/blog">blog</a></el-breadcrumb-item>
        <el-breadcrumb-item th:text="${blog.title}">${title}</el-breadcrumb-item>
    </el-breadcrumb>
</div>

<div id="fish-bind" th:utext="${blog.outLine}"></div>

<div id="blog_main">

        <el-tabs style="transition:opacity 1s ease-in-out;opacity:0;"
                 id="blog-left" v-model="activeName" tab-position="left" @tab-click="handleClick">
            <el-tab-pane  v-bind:style="{ top: top+'px' ,position:'fixed'}" style="position:fixed" v-for="anchor in blog.anchors" :name="anchor" :label="anchor">

            </el-tab-pane>
        </el-tabs>

        <div class="blog-right">
            <div class="blog-title"><h1>{{blog.title}}</h1></div>
            <span class="blog-time">{{blog.timelineStr}}
            </span>&nbsp;&nbsp;created &nbsp;by&nbsp;
            <span class="blog-author">{{blog.author}}
            </span>
            <el-tag v-for="tag in blog.tags" class="blog-tags">{{tag}}</el-tag>
            <div v-if="blog.isOriginal==1" class="blog-license">
                <el-tag type="success" style="font-size:14px;">
                    <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img style="border-width:0; position: relative;top: 3px;"
                        alt="知识共享许可协议"  src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a>
                    本作品采用<a target="_blank" style="text-decoration: none;" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">知识共享署名-非商业性使用-禁止演绎 4.0 国际许可协议</a>进行许可。
                </el-tag>
            </div>
            <div id="main-blog" class="blog-content dicAdd" v-html="blog.content"></div>
        </div>

    <div class="fixed-text"><a @Click="editor">修改文档</a>
        </div>
</div>
<div id="fixed" v-if="seen"  v-bind:class="{animated:isClicked,fadeOutDown:isClicked}"

     @click="toTop">
    <i class="el-icon-arrow-up"></i>
</div>
<div id="back" class="my-btns">
    <el-popover
            placement="left"
            title="词典"
            trigger="hover"
            content="词典渲染">
        <button style="position:fixed;right:20px;top:200px;" @click="dicHandle" class="is-circle my-btn my-btn-orange-cl dictionary-btn"  slot="reference" circle>
            <svg class="icon" aria-hidden="true">' +
                <use xlink:href="#icon-shujuzidian"></use>
            </svg>　
        </button>
    </el-popover>
</div>
<div v-bind:style="{height:show?'100%':'0'}"
        style="
    z-index: 9879;
    position: fixed;
    width: 100%;
    top: 0;
    height: 0;
    margin: auto;
    text-align: center;
    background-color: #4e4e4e7a;" id="fimage" @click="close">
    <img style="position: relative;top:20px;max-height: 90%" v-bind:src="src">
</div>
<div id="footer">
        <foot-component></foot-component>
        <copyright></copyright>
</div>

<script th:inline="javascript">
    let head = new Vue({
        el: '#header',
        data: {
            user:{}
        },
        methods:{
            getUser(){
                this.$http.get('/api/who').then(function (res) {
                    this.user=JSON.parse(res.bodyText)
                }, function () {
                    console.log('获取回话失败')
                });
            }
        },
        mounted(){
            this.getUser()
        }
    })

    let showImg = new Vue({
        el: '#fimage',
        data: {
            show:false,
            src:""
        },
        methods: {
            close(){
                this.show=false
            }
        }
    })

    let foot = new Vue({
        el: '#footer',
        methods:{
            loginDialog(){
                loginDialog.dialogVisible = true;
            }
        }
    })

    let fixed = new Vue({
        el:'#fixed',
        data:{
            isClicked:false,
            seen:false,
            sdelay:0
        },
        methods:{
            toTop(){
                this.isClicked=true;
                this.sdelay= setInterval("window.scrollBy(0,-30)",4);
            },
            onLoad(){
                window.addEventListener('scroll', this.handleScroll)
            },
            handleScroll(){
                let scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop
                if(scrollTop<=1){
                    clearInterval(this.sdelay);
                    this.isClicked=false;
                }
                if(scrollTop>100){
                    this.seen=true;
                }else{
                    this.seen=false;
                }
            }
        },
        mounted(){
            this.onLoad()
        }
    });

    let loginDialog = new Vue({
        el:'#loginDialog',
        data:{
            name:"",
            psw:"",
            dialogVisible: false,
        },
        methods:{
            login(){
                this.$http.post('/api/login',{
                    name:this.name,
                    psw:this.psw
                }).then(function(res){
                    if(res.bodyText==='success') {
                        loginDialog.dialogVisible = res.bodyText;

                    }
                },function(){
                    console.log('请求失败');
                });
            },
            handleClose(done) {
                this.$confirm('要关掉我嘛？')
                    .then(_ => {
                        //TODO
                        this.dialogVisible = false;
                    })
                    .catch(_ => {});
            }

        }
    });

    let blog = new Vue({
        el: '#blog_main',
        data: {
            blog: {anchors:''},
            activeName: '',
            positions:[],
            top:150,
            loading:true
        },
        methods: {
            editor() {
                window.location.href = "/blogEditor?bid=" + this.blog.id;
            },
            loginDialog() {
                loginDialog.dialogVisible = true;
            },
            handleClick(tab, event) {
                str=event.target.id;
                window.location.href = "#" + str.substring(4,str.length)
            },
            onLoad() {
                //隐藏
                let tm=[[${blog}]]
                document.getElementById("fish-bind").style.display="none"
                this.blog = tm.valueOf()
                head.title = this.blog.title;
                this.blog.anchors=JSON.parse(this.blog.anchors)
                window.addEventListener('scroll', this.handleScroll)
                this.mleft = document.getElementById("cleft")
            },
            afterLoad(){
                SyntaxHighlighter.highlight()
                let eles = document.getElementById("blog_main").getElementsByClassName("thinkInside");
                for(let index in eles){
                    if(typeof(eles[index])=="object") {
                        let idt = eles[index].getAttribute("id")
                        let setTopt = eles[index].offsetTop-1
                        idts=idt.split('')
                        let reg = new RegExp("[\\u4E00-\\u9FFF]+","g");
                        let count = 0
                        let breaks = 1
                        let tmp=""
                        for(i in idts){
                            if(reg.test(idts[i])){
                                count+=2;
                            }else{
                                count++;
                            }
                                tmp=tmp+idts[i]
                            if(count>26){
                                tmp=tmp+"<br>　　"//全角空格
                                count=3
                                breaks++
                            }
                        }
                        if(breaks>1) {
                            console.log("tab-"+idt+"asd")
                            document.getElementById("tab-"+idt).innerHTML = tmp;
                            document.getElementById("tab-"+idt).style.height = breaks*40+"px"

                        }
                        let position = {
                            name: idt,
                            setTop: setTopt
                        }
                        this.positions.push(position);

                    }
                    document.getElementById("blog-left").style.opacity="1"
                }
                img = document.getElementById("main-blog").getElementsByTagName('img');//图片元素
                for(i in img){
                    img[i].onclick =  function(e) {

                        if(e.target.className=="contact-s"||e.target.className=="logo middle_pic"||
                            e.target.className=="logo middle_fish"||e.target.className=="icons"){
                            return
                        }


                            showImg.show=true
                            showImg.src=e.srcElement.attributes.src.value
                    }
                }
                },
            handleScroll(){
                var scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop

                if(this.positions.length>0) {
                    if (scrollTop < this.positions[0].setTop) {

                        this.activeName = this.positions[0].name

                    } else if (scrollTop > this.positions[this.positions.length - 1].setTop) {
                        this.activeName = this.positions[this.positions.length - 1].name

                    } else {
                        for (let index = 0; index < this.positions.length - 1; index++) {
                            if (scrollTop < this.positions[index + 1].setTop && scrollTop > this.positions[index].setTop) {
                                this.activeName = blog.positions[index].name

                                break
                            }
                        }
                    }
                }
                if(scrollTop<150){
                    let a=document.getElementsByClassName("el-tabs__header is-left").valueOf()
                    a[0].style.top=150-scrollTop+'px'
                }
                if(scrollTop>150){
                    let a=document.getElementsByClassName("el-tabs__header is-left").valueOf()
                    a[0].style.top='1px'
                }
            }
        },
        created() {
            this.onLoad();
        },
        mounted() {
            setTimeout(this.afterLoad,1000)
        }
    })
    let dictionaryAdd= new Vue({
        el:"#back",
        data: {
            dictionary:[],
            isDictionaryOn:true
        },
        methods:{
            getDic(){
                this.$http.get('/api/dictionary/all').then(function (res) {
                    this.dictionary=JSON.parse(res.bodyText)
                    setTimeout(this.openDic(),2000)
                }, function () {
                    console.log('获取回话失败')
                });
            },
            openDic() {
                nodes = document.getElementsByClassName("dicAdd")
                nodes = this.getChildNodes(nodes[0])
                for (let i = 0; i < nodes.length; i++) {
                    if (nodes[i].tagName == "PRE" || nodes[i].tagName == "CODE") {
                        continue
                    }
                   str=nodes[i].innerHTML;
                    for (let j = 0; j < this.dictionary.length; j++) {
                        reg = new RegExp(this.dictionary[j].key, "g"); //创建正则RegExp对象
                        //str=str.substring(str.indexOf("<"));
                        if(str.indexOf(this.dictionary[j].key)>str.indexOf("dic-on")&&str.indexOf(this.dictionary[j].key)<str.indexOf("</span"))
                            continue

                            str = str.replace(reg,
                                '<span class="dic-on dic" title="' + this.dictionary[j].value + '">'
                                + this.dictionary[j].key + '</span>');
                    }
                    nodes[i].innerHTML = nodes[i].innerHTML.substring(0, nodes[i].innerHTML.indexOf(">")) + str
                }
            },
            closeDic(){
                dics=document.getElementsByClassName("dic")
                for(let i=0;i<dics.length;i++){
                    removeClass(dics[i],"dic-on")
                    dics[i].title=""
                }
            },
            getChildNodes(node){
                var nodes = node.childNodes;
                var arr = [];
                for (var i = 0; i < nodes.length; i++) {
                    var childNode = nodes[i];
                    if(childNode.nodeType == 1){
                        arr.push(childNode);
                        var temp = this.getChildNodes(childNode);//递归调用getChildNodes方法，查看当前子节点下是否还有子节点
                        arr = arr.concat(temp);//将递归获取的子节点数组与之前的数组拼接成一个数组
                    }
                }
                return arr;
            },
            dicHandle(e){
                this.isDictionaryOn=!this.isDictionaryOn
                if(this.isDictionaryOn) {
                    this.openDic()
                    addClass(document.getElementsByClassName("dictionary-btn")[0], "my-btn-orange-cl")
                }else{
                    this.closeDic()
                    removeClass(document.getElementsByClassName("dictionary-btn")[0], "my-btn-orange-cl")
                }
            }
        },
        mounted(){
            setTimeout(this.getDic(),1000)
        }
    })
</script>
</body>
</html>