<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="提供一些文件的下载服务，用户可在此上传和下载文件-web灵魂开发工程师鱼鱼的后花园" />
    <title>源星球——鱼鱼的小伙伴们</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>
    <link type="text/css" rel="stylesheet" href="/css/link.css"/>
    <link type="text/css" rel="stylesheet" href="/css/tool.css"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.6/lib/theme-chalk/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://unpkg.com/element-ui@2.4.6/lib/index.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/baidu.js"></script>
    <script src="/font/iconfont.js"></script>
    <script src="/js/mark.js"></script>
    <script src="/js/text.js"></script>
   </head>
    <style>
        #footer a:hover{
            color:#c3c3c3;
        }
        .text_a:hover
        {
            color: darkblue;
            text-decoration: none;
        }
        .text_a{
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        </style>
<body>

    <div id="header">
        <top-component  :tool="'tool'"  :user="user"></top-component>
    </div>
    <div id="fish-bind">
        <a  th:each="info : ${outLine}" th:attr="href=${info.url}" th:text="${info.name}"></a>
    </div>
        <div id="main" v-bind:style="{height:height+'px'}">
            <div class="fLink" >
                <div class="fLink-block">
                    <el-card v-for="link in links" class="linkcard" shadow="hover">
                        <img @click="open(link.url)" v-bind:src="link.avatar" v-bind:id="link.url" class="linkcard-image" v-bind:class="{circled:link.circled==1}">
                        <a  class="linkcard-link" v-bind:href="link.url">{{link.name}}</a><br>
                            <a  v-bind:href="link.url" class="linkcard-describe">{{link.describe}}</a>
                    </el-card>
                    <div style="letter-spacing: 1px;margin-top:20px">
                        <p style="color:#a1a1a1">交换友链请发送邮件到admin@fishmaple.cn或点击"
                            <a href="/sideWall" target="_blank" class="text_a">给我留言</a>
                            "，友链页UI设计中，目前只接受技术领域相关的网站，望见谅</p>
                    </div>
                </div>
            </div>
    </div>

    <div id="footer" class="foot-abo">
        <foot-component></foot-component>
        <copyright></copyright>
        </div>

<script>

    var foot = new Vue({
        el: '#footer'
    })

    var main=new Vue({
        el:'#main',
        data:{
            links:[],
            height:0
        },
        methods:{
            open(url){
                window.location.href=url
            },
            getLinks(){
                this.height = window.innerHeight-115;
                this.$http.get('/api/links').then(function (res) {
                    links=JSON.parse(res.bodyText)
                    for(index in links){
                       this.links.push(links[index])
                    }
                    setTimeout(this.s,1000)

                }, function () {
                    console.log('获取回话失败')
                });
            },
            s(){
                if(this.height-115<document.getElementsByClassName("fLink-block")[0].clientHeight){
                    document.getElementById("footer").style.position="static"
                }
            }
        },
        mounted(){
            this.getLinks()


        }
    })

    var head = new Vue({
        el: '#header',
        data:{
            user:{}
        },
        methods:{

            getUser(){
                this.$http.get('/api/who').then(function (res) {
                    this.user=JSON.parse(res.bodyText)
                }, function () {
                    console.log('获取回话失败')
                });
            }
        },
        mounted(){
            document.getElementById("fish-bind").style.display="none"
            this.getUser()
        }
    })


</script>
</body>
</html>