<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--客户映射 指定到dao接口 -->
<mapper namespace="fishmaple.DAO.LoginLogMapper">
    <!--id与dao接口的方法名一直，指定结果类型，和参数类型 -->
    <insert id="insertLog" parameterType="fishmaple.DTO.LoginLog">
        INSERT into login_log(`id`,`username`,`time`,os,browser,`action`,`ip`)
          VALUES (#{id},#{username},#{time},#{os},#{browser},#{action},#{ip})
    </insert>
</mapper>